.singleItem {
  display: flex;
  flex-wrap: wrap;
  width: 75vw;
  height: auto;
  margin: 5vw;
  white-space: normal;
  border-radius: 4px;
  border-style: solid;
  border-color: lightpink;
  box-shadow: 5px 10px rgba(1, 2, 0, 0.2);
}

.itemFooter {
  width: auto;
  height: auto;
  padding: 8px;
}

.singleItemTitle {
  width: 100%;
  height: auto;
  font-size: 1rem;
  padding: 4px;
  padding-left: 20px;
  word-break: break-all;
}

.singleItemPrice {
  height: auto;
  font-size: 2vw;
  padding: 4px;
  padding-left: 20px;
}

.singleItemCat {
  color: black;
  padding-left: 20px;
  width: 100%;
  font-size: .9vw;
}

.singleItemImage {
  max-height: 30vw;
  max-width: 30vh;
  margin: 60px;
  border-radius: 4px;
}

.itemDescription {
  font-size: 1vw;
  width: 25vw;
  height: 20vh;
  padding: 10px;
  padding-left: 20px;
  margin: 30px;
  overflow-y: auto;
  overflow-x: hidden;
}

.singleItemAddToCartBtn {
  font-size: 1vw;
  background-color: lime;
  width: 100%;
  height: 6vh;
  padding: 4px;
  padding-left: 20px;
  border-radius: 4px;
  margin: 0;
}
