.storeTable {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 140px;
    left: 140px;
}

.itemTitle {
    font-size: 1rem;
    height: 50px;
    width: auto;
    overflow: hidden;
    margin-bottom: 10px;
}

.itemImage {
    max-width: 240px;
    max-height: 240px;
    padding: 40px 105px 40px 105px;
}

.itemPrice {
    float: right;
    font-size: .8rem;
    
}

.itemCat {
    font-size: .8rem;
    
}

.item {
    background-color: white;
    border-style: outset;
    border-radius: 3px;
    border-color: aqua;
    border-width: 4px;
    margin: 20px;
    height: 420px;
    width: 420px;
    padding: 20px;
    overflow: hidden;
    position: relative;
}

.itemText {
    padding: 10px;
    overflow: hidden;
    position: absolute;
    bottom: 10px;
    color: black;
    width: 400px;
}

.link {
    text-decoration: none;
}
.addToCartBtn {
    width: 30px;
    margin: auto;
    display: block;
    
}

.addToCart {
    background-color: lightgreen;
    width: 60px;
    height: 30px;
    float: right;
    align-items: center;
    margin-right: 30px;
}